.container.py-5 {
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.text-center.mb-5 {
    color: #333;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}
.out-style{
    border: none;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}
.card-body p-5{
    background-color: #ffffff;
    border-radius: 15px;
}
.text-center fs-5 mb-4{
    color: #555; font-family: 'Poppins', sans-serif;
}
.btn btn-primary px-5 py-2{
    font-size: 1rem;
    font-weight: 600;
}
.mt-3{
    display: none;
}