<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать грамматику</title>
</head>
<body>
    <h1>Создать новую грамматику</h1>

    <form method="POST" action="{% url 'create_grammar' %}">
        {% csrf_token %}

        <!-- Форма для создания грамматики -->
        <h2>Грамматика</h2>

        <div>
            <label for="level">Уровень</label>
            {{ grammar_form.level }}
            {% if grammar_form.level.errors %}
                <ul>
                    {% for error in grammar_form.level.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        
        <div>
            <label for="id_title_ru">Название на русском</label>
            {{ grammar_form.title_ru }}
            {% if grammar_form.title_ru.errors %}
                <ul>
                    {% for error in grammar_form.title_ru.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_title_en">Название на английском</label>
            {{ grammar_form.title_en }}
            {% if grammar_form.title_en.errors %}
                <ul>
                    {% for error in grammar_form.title_en.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_explain_ru">Объяснение на русском</label>
            {{ grammar_form.explain_ru }}
            {% if grammar_form.explain_ru.errors %}
                <ul>
                    {% for error in grammar_form.explain_ru.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_explain_en">Объяснение на английском</label>
            {{ grammar_form.explain_en }}
            {% if grammar_form.explain_en.errors %}
                <ul>
                    {% for error in grammar_form.explain_en.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_example_jp_kanji">Пример на японском</label>
            {{ grammar_form.example_jp_kanji }}
            {% if grammar_form.example_jp_kanji.errors %}
                <ul>
                    {% for error in grammar_form.example_jp_kanji.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_example_ru_kana">Пример на русском</label>
            {{ grammar_form.example_ru_kana }}
            {% if grammar_form.example_ru_kana.errors %}
                <ul>
                    {% for error in grammar_form.example_ru_kana.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_example_ru">Пример на русском (транскрипция)</label>
            {{ grammar_form.example_ru }}
            {% if grammar_form.example_ru.errors %}
                <ul>
                    {% for error in grammar_form.example_ru.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_example_en">Пример на английском</label>
            {{ grammar_form.example_en }}
            {% if grammar_form.example_en.errors %}
                <ul>
                    {% for error in grammar_form.example_en.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <h2>Пример</h2>
        <!-- Форма для добавления примера -->
        <div>
            <label for="id_add_example_jp_kanji">Добавить пример на японском</label>
            {{ example_form.add_example_jp_kanji }}
            {% if example_form.add_example_jp_kanji.errors %}
                <ul>
                    {% for error in example_form.add_example_jp_kanji.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_add_example_ru_kana">Добавить пример на русском</label>
            {{ example_form.add_example_ru_kana }}
            {% if example_form.add_example_ru_kana.errors %}
                <ul>
                    {% for error in example_form.add_example_ru_kana.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_add_example_en_ru">Добавить пример на русском</label>
            {{ example_form.add_example_en_ru }}
            {% if example_form.add_example_en_ru.errors %}
                <ul>
                    {% for error in example_form.add_example_en_ru.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <label for="id_add_example_en_en">Добавить пример на английском</label>
            {{ example_form.add_example_en_en }}
            {% if example_form.add_example_en_en.errors %}
                <ul>
                    {% for error in example_form.add_example_en_en.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <button type="submit">Создать грамматику и пример</button>
    </form>

</body>
</html>