{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img src="{% get_media_prefix %}sheep.svg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Sheep">
        <h2 class="fw-normal">Грамматика</h2>
        <p>Начать разбор грамматики немедленно!</p>
        <p><a class="btn btn-secondary" href="{% url 'grammar' %}">Приступить! &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% get_media_prefix %}face1.svg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Sheep">
        <h2 class="fw-normal">Слова!</h2>
        <p>Начать изучать слова!</p>
        <p><a class="btn btn-secondary" href="{% url 'word' %}">Приступить! &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% get_media_prefix %}face2.svg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Sheep">
        <h2 class="fw-normal">Тесты!</h2>
        <p>Проверить себя на знания</p>
        <p><a class="btn btn-secondary" href="word_test">Приступить! &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
{% endblock %}