{% extends 'blog/base.html' %}

{% block content %}

<div class="container py-5" style="font-family: 'Noto Serif JP', serif; background-color: #fdf6e3;">
    <div class="border rounded shadow-lg" style="border: 2px solid #d8c292; background: white;">
        <div class="p-5">
            <h1 class="text-center mb-4" style="color: #8b4513; font-size: 2.5rem; font-weight: bold; font-family: 'Poppins', sans-serif;">Результаты теста</h1>

            <table class="table table-bordered text-center" style="font-size: 1.2rem; border-color: #d8c292; color: #333;">
                <thead style="background-color: #f2e6d9;">
                    <tr>
                        <th style="padding: 15px;"><p class="text-start fs-5 mb-4" style="color: #555; font-family: 'Poppins', sans-serif;">Параметр</th>
                        <th style="padding: 15px;"><p class="text-center fs-5 mb-4" style="color: #555; font-family: 'Poppins', sans-serif;">Значение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding: 15px; font-weight: bold; "> <p class="text-start fs-5 mb-4" style="color: #555; font-family: 'Poppins', sans-serif;">Общее количество вопросов</p></td>
                        <td style="padding: 15px; color: #000000;"><p class="text-center fs-5 mb-4" style="color: #1100ff; font-family: 'Poppins', sans-serif;"> {{ total_count }}</p></td>
                    </tr>
                    <tr>
                        <td style="padding: 15px; font-weight: bold; "> <p class="text-start fs-5 mb-4" style="color: #555; font-family: 'Poppins', sans-serif;">Правильных ответов</p></td>
                        <td style="padding: 15px; color: #228B22;"><p class="text-center fs-5 mb-4" style="color: #00ff80; font-family: 'Poppins', sans-serif;"> {{ correct_count }}</p></td>
                    </tr>
                    <tr>
                        <td style="padding: 15px; font-weight: bold;"><p class="text-start fs-5 mb-4" style="color: #555; font-family: 'Poppins', sans-serif;">Неправильных ответов</p></td>
                        <td style="padding: 15px; color: #B22222; "> <p class="text-center fs-5 mb-4" style="color: #ff0000; font-family: 'Poppins', sans-serif;"> {{ incorrect_count }}</p></td>
                    </tr>
                    <tr>
                        <td style="padding: 15px; font-weight: bold;"><p class="text-start fs-5 mb-4" style="color: #555; font-family: 'Poppins', sans-serif;">Точность</p></td>
                        <td style="padding: 15px; color: #4169E1; "> <p class="text-center fs-5 mb-4" style="color: #000000; font-family: 'Poppins', sans-serif;"> {{ accuracy_percentage|floatformat:2 }}%</p></td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-4">
                <form method="POST" action="{% url 'word_test_start' %}">
                    {% csrf_token %}
                    <input type="hidden" name="rollback" value={{ rollback }}>
                    <input type="hidden" name="test_type" value={{ test_type }}>
                    <input type="hidden" name="questions_p" value={{ question_count }}>
                    <input type="hidden" name="extra_option" value={{ extra_option }}>
                    <input type="hidden" name="answers_time" value={{ answers_time}}>
                    <button type="submit" class="btn px-5 py-3" style="background-color: #d8c292; color: white; border: 1px solid #8b4513; font-size: 1.2rem; font-weight: bold; border-radius: 25px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">
                        <p class="text-center" style="color: #555; font-family: 'Poppins', sans-serif;">Попробывать ещё раз</p>    
                    </button>
                </form>    
                <br>
                <a href="/" 
                   class="btn px-5 py-3"
                   role="button" 
                   style="background-color: #d8c292; color: white; border: 1px solid #8b4513; font-size: 1.2rem; font-weight: bold; border-radius: 25px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">
                    <p class="text-center" style="color: #555; font-family: 'Poppins', sans-serif;">На главную страницу</p>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
