{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/word_test_premium.css' %}">
{% endblock %}
<div class="container py-5">
    <h1 class="text-center mb-5" >Тест на знание Иероглифов</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container py-3">
                <div class="card out-style">
                    <div class="card-body p-5">
                        <p class="text-center fs-5 mb-4">Настройте параметры перед началом теста</p>
                        <hr class="my-10">
                        <form method="POST" action="{% url 'word_test_start' %}"> <!-- Разделитель -->
                            {% csrf_token %}  
                            
                            
                             <div class="mb-4">
                                <p class="text-start fs-5 mb-4">Выберите уровень:</p> 
                                <div class="row row-cols-1 row-cols-md-5 g-1">
                                    <div class="col">
                                        <div class="card">                                        
                                            <input type="radio" class="btn-check" name="level" value=5 id="level_5" autocomplete="off" checked>
                                            <label class="btn btn-outline-dark fs-5 w-100" for="level_5">N5
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card">                                     
                                            <input type="radio" class="btn-check" name="level" value=4 id="level_4" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="level_4">N4
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card"> 
                                            <input type="radio" class="btn-check"name="level" value=3 id="level_3" autocomplete="off"> 
                                            <label class="btn btn-outline-dark fs-5 w-100"  for="level_3">N3                               
                                            </label>                                
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card">         
                                            <input type="radio" class="btn-check" name="level" value=2 id="level_2" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="level_2">N2
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card"> 
                                            <input type="radio" class="btn-check" name="level" value=1 id="level_1" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="level_1">N1                 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-10"> <!-- Разделитель -->                           
                            <div class="mb-4">                                             
                                <p class="text-start fs-5 mb-4">Выберите тип теста:</p>
                                <div class="d-flex justify-content-center">
                                    <div class="row row-cols-1 row-cols-md-6 g-1">
                                        <div class="col">
                                            <div class="card">
                                            <input type="radio" class="btn-check" name="test_type" value="kanji_to_kana" id="type_kanji_to_kana" autocomplete="off">
                                                <label class="btn btn-outline-dark align-middle fs-5 w-100 d-flex align-items-center" for="type_kanji_to_kana">
                                                    Канджи Кана
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">                           
                                                <input type="radio" class="btn-check" name="test_type" value='kana_to_kanji' id="type_kana_to_kanji" autocomplete="off"> 
                                                <label class="btn btn-outline-dark fs-5 w-100 d-flex align-items-center"  for="type_kana_to_kanji">
                                                    Кана Канджи                                    
                                                </label>
                                            </div>                                
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <input type="radio" class="btn-check" name="test_type" value='kanji_to_trans' id="type_kanji_to_trans" autocomplete="off"> 
                                                <label class="btn btn-outline-dark fs-5 w-100" for="type_kanji_to_trans">
                                                    Канджи Перевод                                    
                                                </label>
                                            </div>                                
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <input type="radio" class="btn-check" name="test_type" value='trans_to_kanji' id="type_trans_to_kanji" autocomplete="off"> 
                                                <label class="btn btn-outline-dark fs-5 w-100" for="type_trans_to_kanji">
                                                    Перевод Канджи
                                                </label>
                                            </div>                        
                                        </div>                            
                                        <div class="col">
                                            <div class="card">
                                                <input type="radio" class="btn-check" name="test_type" value="hide" id="type_hide" autocomplete="off"> 
                                                <label class="btn btn-outline-dark fs-5 w-100" for="type_hide">
                                                    Скрытый Канджи
                                                </label>
                                            </div>                        
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <input type="radio" class="btn-check" name="test_type" value="kanji_sent" id="type_kanji_sent" autocomplete="off" checked> 
                                                <label class="btn btn-outline-dark fs-5 w-100" for="type_kanji_sent">
                                                    Текст Слово
                                                </label>
                                            </div>                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="extra-options" class="mt-3">
                                <p class="text-start fs-5">Выберите вариант:</p>                                    
                                <div class="d-flex justify-content-center">
                                    <div class="col">
                                        <div class="card">                           
                                            <input type="radio" class="btn-check" name="extra_option" value=True id="option_with_hints" autocomplete="off" checked>
                                            <label class="btn btn-outline-dark fs-5 w-100" for="option_with_hints">С подсказками</label>
                                        </div>
                                    </div>                        
                                    <div class="col">
                                        <div class="card">        
                                            <input type="radio" class="btn-check" name="extra_option" value=None id="option_without_hints" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="option_without_hints">Без подсказок</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="{% static 'js/word_test_premium.js' %}"></script>                            
                            <hr class="my-10"> <!-- Разделитель -->
                            <p class="text-start fs-5 mb-4">
                                Количество вопросов, на которое текущий индекс сместится назад, в случае неправильного ответа:
                            </p>    
                            <div class="row row-cols-1 row-cols-md-5 g-1">
                                <div class="col">
                                    <div class="card">
                                        <input type="radio" class="btn-check" name="rollback" value="5" id="rollback-5" autocomplete="off" checked>
                                        <label class="btn btn-outline-dark fs-5 w-100" for="rollback-5">
                                            5                                     
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <input type="radio" class="btn-check" name="rollback" value="10" id="rollback-10" autocomplete="off"> 
                                        <label class="btn btn-outline-dark fs-5 w-100"  for="rollback-10">
                                            10                                    
                                        </label>
                                    </div>
                                </div>                                
                                <div class="col">
                                    <div class="card">
                                        <input type="radio" class="btn-check" name="rollback" value="15" id="rollback-15" autocomplete="off"> 
                                        <label class="btn btn-outline-dark fs-5 w-100" for="rollback-15">
                                            15                                    
                                        </label>
                                    </div> 
                                </div>                                
                                <div class="col">
                                    <div class="card">                                    
                                        <input type="radio" class="btn-check" name="rollback" value="all" id="rollback-all" autocomplete="off"> 
                                        <label class="btn btn-outline-dark fs-5 w-100" for="rollback-all">
                                            В начало                                    
                                        </label>
                                    </div> 
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <input type="radio" class="btn-check" name="rollback" value="no" id="rollback-no" autocomplete="off"> 
                                        <label class="btn btn-outline-dark fs-5 w-100" for="rollback-no">
                                            Нет                                    
                                        </label>
                                    </div> 
                                </div> 
                            </div>

                            <hr class="my-10"> <!-- Разделитель -->
                            <!-- Время показа вопроса -->
                            <div class="mb-4">
                                <p class="text-start fs-5 mb-4">Время показа вопроса:</p> 
                                <div class="row row-cols-1 row-cols-md-5 g-1">
                                    <div class="col">
                                        <div class="card">                                        
                                            <input type="radio" class="btn-check" name="question_time" value=1 id="questions-1" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions-1">1 сек.
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card">                                     
                                            <input type="radio" class="btn-check" name="question_time" value=2 id="questions-2" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions-2">2 сек.
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card"> 
                                            <input type="radio" class="btn-check"name="question_time" value=3 id="questions-3" autocomplete="off"> 
                                            <label class="btn btn-outline-dark fs-5 w-100"  for="questions-3">3 сек.                                
                                            </label>                                
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card">         
                                            <input type="radio" class="btn-check" name="question_time" value=4 id="questions-4" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions-4">4 сек.
                                            </label>
                                        </div> 
                                    </div>
                                    <div class="col">
                                        <div class="card"> 
                                            <input type="radio" class="btn-check" name="question_time" value=None id="questions-no" autocomplete="off" checked>
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions-no">Нет                     
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-10"> <!-- Разделитель -->
                            <!-- Время показа вариантов ответа -->
                            <div class="mb-4">
                                <p class="text-start fs-5 mb-d">Время показа вариантов ответа:</p>
                                <div class="row row-cols-1 row-cols-md-4 g-1">
                                    <div class="col">
                                        <div class="card">                                     
                                            <input type="radio" class="btn-check" name="answers_time" value=10 id="answers-10" autocomplete="off"> 
                                            <label class="btn btn-outline-dark fs-5 w-100" for="answers-10"> 10 сек.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <input type="radio"class="btn-check"  name="answers_time" value=20 id="answers-20" autocomplete="off"> 
                                            <label class="btn btn-outline-dark fs-5 w-100" for="answers-20"> 20 сек.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card"> 
                                            <input type="radio" class="btn-check" name="answers_time" value=30 id="answers-30" autocomplete="off" checked> 
                                            <label class="btn btn-outline-dark fs-5 w-100" for="answers-30"> 30 сек.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <input type="radio" class="btn-check" name="answers_time" value=40 id="answers-40" autocomplete="off"> 
                                            <label class="btn btn-outline-dark fs-5 w-100" for="answers-40"> 40 сек.
                                            </label>
                                        </div>
                                    </div>                                                                        
                                </div>
                            </div>
                            <hr class="my-10"> <!-- Разделитель -->
                            <!-- Количество вопросов -->
                            <div class="mb-4">
                                <p class="text-start fs-5 mb-4">Количество вопросов:</p>
                                <div class="row row-cols-1 row-cols-md-4 g-1">
                                    <div class="col">
                                        <div class="card">
                                            <input type="radio" class="btn-check" name="questions_p" value=15 id="questions_p-15" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions_p-15">15 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <input type="radio" class="btn-check" name="questions_p" value=30 id="questions_p-30" autocomplete="off" checked>
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions_p-30">30
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">                                    
                                            <input type="radio" class="btn-check" name="questions_p" value=50 id="questions_p-50" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions_p-50">50
                                            </label>   
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">                                
                                            <input type="radio" class="btn-check" name="questions_p" value="all" id="questions_p-all" autocomplete="off">
                                            <label class="btn btn-outline-dark fs-5 w-100" for="questions_p-all">Все
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Кнопка отправки -->
                            <hr class="my-10"> <!-- Разделитель -->
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary px-5 py-2">Начать тест</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
window.onload = function() {
    var btn = document.getElementById('start-test-btn');
    if (btn) btn.focus();
};
</script>
{% endblock %}
