{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Премиум Тесты</h1>

    <div class="row mb-4">
        <div class="col-md-6 mx-auto text-center">
            <p class="fs-5">Выберите величину отката и количество вопросов</p>
            <form method="POST" action="{% url 'word_test_start' %}">
                {% csrf_token %}
                
                <!-- Выбор отката -->
                <div class="mb-3">
                    <p class="fw-bold">Величина отката:</p>
                    <input type="radio" class="btn-check" name="rollback" value=5 id="rollback-5" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="rollback-5">5</label>

                    <input type="radio" class="btn-check" name="rollback" value=10 id="rollback-10" autocomplete="off">
                    <label class="btn btn-outline-success" for="rollback-10">10</label>

                    <input type="radio" class="btn-check" name="rollback" value=15 id="rollback-15" autocomplete="off">
                    <label class="btn btn-outline-success" for="rollback-15">15</label>

                    <input type="radio" class="btn-check" name="rollback" value="all" id="rollback-all" autocomplete="off">
                    <label class="btn btn-outline-success" for="rollback-all">Все</label>
                </div>

                <!-- Выбор количества вопросов -->
                <div class="mb-3">
                    <p class="fw-bold">Количество вопросов:</p>
                    <input type="radio" class="btn-check" name="questions_p" value=15 id="questions-15" autocomplete="off">
                    <label class="btn btn-outline-success" for="questions-15">15</label>

                    <input type="radio" class="btn-check" name="questions_p" value=30 id="questions-30" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="questions-30">30</label>

                    <input type="radio" class="btn-check" name="questions_p" value=50 id="questions-50" autocomplete="off">
                    <label class="btn btn-outline-success" for="questions-50">50</label>

                    <input type="radio" class="btn-check" name="questions_p" value="all" id="questions-all" autocomplete="off">
                    <label class="btn btn-outline-success" for="questions-all">Все</label>
                </div>                
                <!-- Кнопка отправки -->
                <button type="submit" class="btn btn-primary mt-3">Начать тест</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}