{% extends 'blog/base.html' %}
{% block content %}
<div class="container py-3">
    <h1 class="text-center">Тестирование по словам</h1>
    <p>Выберите количество вопросов:</p>
    <div class="d-flex justify-content-center gap-2">
        <a href="{% url 'word_test_start' %}?questions=2" class="btn btn-primary">2 вопросов</a>
        <a href="{% url 'word_test_start' %}?questions=3" class="btn btn-primary">3 вопросов</a>
        <a href="{% url 'word_test_start' %}?questions=5" class="btn btn-primary">5 вопросов</a>
        <a href="{% url 'word_test_start' %}?questions=20" class="btn btn-primary">20 вопросов</a>
        <a href="{% url 'word_test_start' %}?questions=30" class="btn btn-primary">30 вопросов</a>
        <a href="{% url 'word_test_start' %}?questions=60" class="btn btn-primary">60 вопросов</a>
        <a href="{% url 'word_test_start' %}?questions=1000" class="btn btn-primary">Все вопросы</a>
    </div>
</div>
{% endblock %}
