{% extends 'blog/base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/word_test_start.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'js/word_test_start.js' %}"></script>

<div class="container py-5">
    <h1 class="text-center mb-4 style-red" >Тестирование N{{ level }}</h1>
    <form id="quiz-form" method="post" action="{% url 'word_test_next' %}">
        {% csrf_token %}
        <div class="col-md-8 mx-auto">
            <div class="card my-3 shadow-lg">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 id="left_time">Осталось:  
                            <span id="clockdiv_hide" class="fw-bold style-red"></span>
                        </h5>
                        <h5>Вопрос:                             
                            <span class="fw-bold black">
                                {% with current_index|add:1 as current_index %}
                                {{ current_index|default:"1" }}
                                {% endwith %}
                            </span>
                            из 
                            <span class="fw-bold black">{% if total %}
                                {{ total }}
                                {% else %}
                                {{ len_qs }}
                                {% endif %}
                            </span>
                        </h5>
                    </div>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="text-center mb-4" data-id="question_word-div">
                        {% if test_type == "trans_to_kanji" %}
                        <h1 class="fw-bold black">
                        {% else %}
                        <h1 class="fw-bold black" style="font-family: 'Sazanami_Mincho'">
                        {% endif %}
                            {{ question.question_word|escape }}
                        </h1>
                        <div class="dropdown-center">
                            {% if extra_option == "True" %}
                                 <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Подсказка
                                </button>
                            {% endif %}        

                            <ul class="dropdown-menu">
                                <li>
                                    <div class="d-flex justify-content-center align-items-center">
                                        {{ question.kana }}
                                    </div>
                                </li>                              
                            </ul>
                        </div>
                    </div>
                    <div class="row g-3" data-id="options-div">
                        {% for option in question.options|shuffle %}
                            <div class="col-md-6">
                                <button 
                                    type="submit" 
                                    name="user_answer" 
                                    value="{{ option }}"
                                    data-correct="{% if option == question.correct %}true{% else %}false{% endif %}" 
                                    class="btn btn-lg w-100 answer-btn">

                                    {% if test_type == "kanji_to_trans" %}
                                    <span class="fw-bold black">
                                    {% else %}
                                    <span class="fw-bold black" style="font-family: 'Sazanami_Mincho';">
                                    {% endif %}
                                    {{ option|escape }}
                                    </span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="progress mb-4">
                        <div class="progress-bar" id="progress-bar_down" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="result-message" class="text-center mt-4"></div>                    
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <div id="clockdiv" class="fw-bold style-red"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}