{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/word.css' %}">
{% endblock %}

<div class="container py-3">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Слова</h1>
    <div class="btn-group mb-3" role="group">
      {% for n in "54321" %}
        <a href="?level={{ n }}" class="btn btn-outline-primary {% if level == n %}active{% endif %}">N{{ n }}</a>
      {% endfor %}
    </div>

    <p class="fs-5 text-body-secondary">Быстрый набор слов на уровень N{{ level }}</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for word in words %}
        <div class="col">
            <div class="card" id="word-{{ word.pk }}">
                {% if not word.kanji or word.kanji == "''" %}
                <div class="card-header">
                    {{ word.kana }}
                </div>
                {% else %}
                <div class="card-header">
                    {{ word.kanji }}
                </div>
                {% endif %}
                <ul class="list-group list-group-flush">
                    {% if word.kanji %}
                        <li class="list-group-item"><strong>Кана: </strong> <span class="jap-font">{{ word.kana }}</span></li>
                    {% endif %}
                    <hr class="my-1"> <!-- Разделитель -->
                    <li class="list-group-item"><strong>Ромаджи: </strong> <span class="jap-font">{{ word.romaji }}</span></li>
                    <hr class="my-1"> <!-- Разделитель -->
                    <li class="list-group-item"><strong>Перевод: </strong>{{ word.translate_ru }}</li>
                </ul>
            <div class="card-body text-center toggle-visibility">
              <a class="btn" href="{% url 'word_edit' pk=word.pk %}?level={{ level }}#word-{{ word.pk }}">Редактировать</a>
              <a class="btn" href="{% url 'word_variant_create' pk=word.pk %}">Добавить вариант</a>
            </div>
            <div class="card-footer text-muted text-end">
              #{{ forloop.counter }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
