{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Тестирование по словам</h1>

    <div class="row mb-4">
        <div class="col-md-6 mx-auto text-center">
            <p class="fs-5">Выберите количество вопросов: Kanji to Kana</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="{% url 'word_test_start' %}?questions=30&type=kanji_to_kana" class="btn btn-primary btn-lg px-4 py-3">30 вопроса <br> (Kanji → Kana)</a>
                <a href="{% url 'word_test_start' %}?questions=3&type=kanji_to_kana" class="btn btn-primary btn-lg px-4 py-3">3 вопроса <br> (Kanji → Kana)</a>
                <a href="{% url 'word_test_start' %}?questions=5&type=kanji_to_kana" class="btn btn-primary btn-lg px-4 py-3">5 вопросов <br> (Kanji → Kana)</a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mx-auto text-center">
            <p class="fs-5">Выберите количество вопросов: Kana to Kanji</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="{% url 'word_test_start' %}?questions=2&type=kana_to_kanji" class="btn btn-secondary btn-lg px-4 py-3">2 вопроса <br> (Kana → Kanji)</a>
                <a href="{% url 'word_test_start' %}?questions=3&type=kana_to_kanji" class="btn btn-secondary btn-lg px-4 py-3">3 вопроса <br> (Kana → Kanji)</a>
                <a href="{% url 'word_test_start' %}?questions=5&type=kana_to_kanji" class="btn btn-secondary btn-lg px-4 py-3">5 вопросов <br> (Kana → Kanji)</a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mx-auto text-center">
            <p class="fs-5">Выберите количество вопросов: Kanji to Trans</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="{% url 'word_test_start' %}?questions=2&type=kanji_to_trans" class="btn btn-success btn-lg px-4 py-3">2 вопроса <br> (Kanji → Translation)</a>
                <a href="{% url 'word_test_start' %}?questions=3&type=kanji_to_trans" class="btn btn-success btn-lg px-4 py-3">3 вопроса <br> (Kanji → Translation)</a>
                <a href="{% url 'word_test_start' %}?questions=5&type=kanji_to_trans" class="btn btn-success btn-lg px-4 py-3">5 вопросов <br> (Kanji → Translation)</a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-6 mx-auto text-center">
            <p class="fs-5">Выберите количество вопросов: Trans to Kanji</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="{% url 'word_test_start' %}?questions=2&type=trans_to_kanji" class="btn btn-danger btn-lg px-4 py-3">2 вопроса <br> (Translation → Kanji)</a>
                <a href="{% url 'word_test_start' %}?questions=3&type=trans_to_kanji" class="btn btn-danger btn-lg px-4 py-3">3 вопроса <br> (Translation → Kanji)</a>
                <a href="{% url 'word_test_start' %}?questions=5&type=trans_to_kanji" class="btn btn-danger btn-lg px-4 py-3">5 вопросов <br> (Translation → Kanji)</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
