{% extends 'blog/base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Тестирование</h1>
    <form method="post" action="{% url 'word_test_next' %}">
        {% csrf_token %}
        <!-- Ограничение ширины карточки -->
        <div class="col-md-6 mx-auto">
            <div class="card my-3 shadow-sm">
                <div class="card-body">
                    <!-- Общая информация -->
                    <h5 class="card-title text-center mb-3">
                        <span>Всего вопросов: </span>{{ total }}
                    </h5>
                    <h5 class="card-title text-center mb-3">
                        Вопрос №:
                        {% with current_index|add:1 as current_index %}
                        {{ current_index|default:"1" }}
                        {% endwith %}
                    </h5>

                    <!-- Вопрос и ответ -->
                    <h5 class="card-title text-center mb-4">{{ question.kanji }}</h5>
                    <hr class="my-1"> <!-- Разделитель -->
                    <h5 class="card-title text-center mb-4">{{ question.question_word }}</h5>
                    <!-- Варианты ответов (кнопки) -->
                    <div class="row g-3">
                        {% for option in question.options %}
                        <div class="col-6">
                            <button 
                                type="submit" 
                                name="user_answer" 
                                value="{{ option }}" 
                                class="btn btn-lg btn-outline-primary w-100 shadow-sm">
                                <!-- class="btn btn-lg btn-outline-primary {% if option == question.correct %} correct-answer {% endif %} w-100 shadow-sm"> -->                                
                                {{ option }}
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}